<div id="features">
<h3><%= t "about.t6" %></h3>
    <p><%= t "about.us" %> </p><br/>
    <div class=""><%= t "about.addr" %> </div>
    <p><br/>
    <a target="_blank" href="mailto:kenrome@gmail.com">kenrome@gmail.com </a><br />
    <a href="http://www.inruby.com">www.inruby.com</a></p><br/>
    <DIV class="box mb10 tips">
          <H2 class="out"><%= t "about.t6" %> </H2>
        <DIV class="in">
          <DIV class="contentinner">
            <a href="mailto:kenrome@gmail.com"><img src="images/gmail.jpg" alt="Gmail" height="50" /> </a><a href="javascript:void(0);"><img src="images/QQ.jpg" width="50" height="50" alt="QQ:77632132" longdesc="422.html" /> </a><a href="http://cn.linkedin.com/in/kenrome"><img src="images/linkedin.jpeg" width="50" height="50" alt="Linkedin" /> </a><img src="images/twitter.png" width="50" height="50" alt="Twitter" /><a href="http://sighttp.qq.com/cgi-bin/check?sigkey=8acfca787b968cce1ad69f7e03ab41b1a918809108ad5d7de1a77a05db75945d"; target=_blank; onclick="var tempSrc='http://sighttp.qq.com/wpa.js?rantime='+Math.random()+'&sigkey=8acfca787b968cce1ad69f7e03ab41b1a918809108ad5d7de1a77a05db75945d';var oldscript=document.getElementById('testJs');var newscript=document.createElement('script');newscript.setAttribute('type','text/javascript'); newscript.setAttribute('id', 'testJs');newscript.setAttribute('src',tempSrc);if(oldscript == null){document.body.appendChild(newscript);}else{oldscript.parentNode.replaceChild(newscript, oldscript);}return false;"><img border="0" SRC='http://wpa.qq.com/pa?p=1:77632132:43' alt=""></a>
          </DIV>
        </DIV>
        </DIV>
</div>