<% title @gnote.contact %>
<h1>新加文章/链接/留言/或者。。。</h1>
<%= javascript_include_tag :fckeditor %>
<% form_for(@gnote) do |f| %>
  <%= f.error_messages %>
  <%= render :partial=>'form',:locals=>{:f=>f} %>
<% end %>

<%= link_to '返回', gnote_path %>